.adobe
.bash_history
.bash_logout
.cache
.compiz
conf
.config
Desktop
.dircolors
.dmrc
Documents
Downloads
examples.desktop
.gconf
.gitconfig
.gksu.lock
.ICEauthority
.local
.macromedia
.mozilla
Music
Pictures
.profile
Projects
Public
.ssh
Templates
Videos
.vim
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
