.adobe
.bash_history
.bash_logout
.cache
.compiz
conf
.config/compiz-1
.config/dconf
.config/evolution
.config/gnome-session
.config/gtk-2.0
.config/gtk-3.0
.config/ibus
.config/libaccounts-glib
.config/libreoffice
.config/nautilus
.config/powerline/colorschemes
.config/powerline/colors.json
.config/powerline/themes
.config/pulse
.config/unity
.config/update-notifier
.config/upstart
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yelp

Desktop
.dircolors
.dmrc
Documents
Downloads
examples.desktop
.gconf
.gitconfig
.gksu.lock
.ICEauthority
.local
.macromedia
.mozilla
Music
Pictures
.profile
Projects
Public
.ssh
Templates
Videos
.vim
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.oh-my-zsh
